vendor
build
/node_modules
/public/storage
.vagrant
Vagrantfile
Homestead.yaml
Homestead.json
composer.phar
php-*.phar
clover.xml
composer.lock
report.junit.xml
coverage
*backups*
*catatan*
*sampling*
.env.*.php
.env.php
.env
*.exe
*.dll
*.zip
*.rar
*.log
*.bak
*.sql
*.txt
_ide_helper.php
.phpstorm.meta.php
.env
!.env.example
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
.php_cs.cache
_ide_helper.php
